#promo {
  background: linear-gradient(
      180deg,
      rgba(30, 27, 24, 0) 0%,
      rgba(30, 27, 24, 0.6) 78.12%
    ),
    url("../img/Intro.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  @include flex(column, center, center);
  min-height: 95vh;
  text-align: center;

  h1 { 
    color: $white;
    text-shadow: 0 5px 5px rgba(0, 0, 0, 0.35);
    margin: 0 1rem 6rem 1rem;
  }

  button {
    background-color: $red;
    border: 0.2rem;
    border-radius: 1.5rem;
    padding: 2rem 4rem;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
    color: $white;
    font-weight: bold;
    cursor: pointer;
  }
}
